table {
    margin-bottom: 0;
}

tfoot td {
    text-align: center;
}

div[role=main] {
    margin-bottom: var(--pico-typography-spacing-vertical);
}

div:has(#add-new) {
    text-align: center;
}

#details-modal article {
    padding-top: 0;
    padding-bottom: 0;
}

#details-modal header {
    position: sticky;
    top: 0;
}

#details-modal footer {
    position: sticky;
    bottom: 0;
}
