col:not(:last-child) {
    border-right: 0.0625rem solid var(--pico-table-border-color); 
}

colgroup:not(:last-of-type) {
    border-right: 0.125rem solid var(--pico-table-border-color);
}

.action-container {
    display: flex;
    max-width: fit-content;
    margin: 0 auto;

    & > * {
        margin-bottom: 0 !important;
        &:not(:last-child) {
            margin-right: var(--pico-spacing);
        }
    }
}

option[selected]:not([data-none]) {
    font-style: italic;
}
option:is([data-none], .blocked) {
    color: var(--pico-muted-color);
}
/* empty unmodified select */
select:has([data-none][selected]):not(.modified) {
    color: var(--pico-muted-color);

    option:not([data-none], .blocked) {
        color: var(--pico-color);
    }
}
select.modified {
    color: var(--pico-mod-color);
    font-style: italic;
    font-weight: bolder;

    option {
        font-weight: normal;
        &:not([selected]) {
            font-style: normal;
        }
        &:not(.blocked) {
            color: var(--pico-color);
        }
    }
    option:is([data-none], .blocked) {
        color: var(--pico-muted-color);
    }
}

table, td > select {
    margin-bottom: 0;
}

td {
    padding: calc(var(--pico-spacing) / 2);
}

div[role=main] {
    margin-bottom: var(--pico-typography-spacing-vertical);
}
