div[role="heading"] {
    display: flex;
    flex-direction: row;
    justify-items: end;
    align-items: baseline;
}
div[role="heading"] :is(input, select) {
    width: auto;
}
div[role="heading"] h3 {
    margin-left: 0;
    margin-right: auto;
}
div[role="heading"] > :is(input, select) {
    margin-left: var(--pico-spacing);
}
div[role="heading"] > div {
    display: flex;
    & > * {
        margin-left: var(--pico-spacing);
    }
}

#date-picker:read-only {
    width: calc(2rem + 9ch);
    & + button, button:has(+ &) {
        --pico-box-shadow: none;
    }
}

.refresh-button {
    text-align: center;
    margin-bottom: var(--pico-spacing);
    background-color: var(--pico-form-element-background-color);
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
}
