div[role="heading"] {
    display: flex;
    flex-direction: row;
    justify-items: end;
    align-items: baseline;
}
div[role="heading"] :is(input, select) {
    width: auto;
}
div[role="heading"] h3 {
    margin-left: 0;
    margin-right: auto;
}
div[role="heading"] > :is(input, select) {
    margin-left: var(--pico-spacing);
}
div[role="heading"] > div {
    display: flex;
    & > * {
        margin-left: var(--pico-spacing);
    }
}
