body > header {
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color);
}

.full-height {
    max-height: none;
}

.card-header h3 {
    margin-bottom: 0;
}

.section-header {
    display: flex;

    span[role="button"] {
        margin-top: calc(var(--pico-spacing) * 0.125);
        margin-left: calc(var(--pico-spacing) * 0.25);
    }
}

#preference-modal {
    div:has(> :is(span.material-symbols-outlined, input[type="radio"])) {
        display: flex;
        justify-content: center;
    }
    span.material-symbols-outlined {
        cursor: default;
    }
    input[type="radio"] {
        margin: 0;

        &:checked:not(&[data-initial]) {
            --pico-border-color: var(--pico-color-amber-150);
            --pico-primary-focus: color-mix(in hsl, var(--pico-border-color), transparent 37.5%);
        }

        &[data-initial]:not(:checked) {
            border: var(--pico-border-width) dashed var(--pico-secondary-background);
        }
    }
    table {
        margin-bottom: 0;
    }
}
.table-container {
    max-height: calc(100svh - 15rem);
}
