header {
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color);
}

.full-height {
    max-height: none;
}

.card-header {
    display: flex;
    justify-content: space-between;
}
.card-header h3 {
    margin-bottom: 0;
}
