table {
    margin-bottom: 0;
}

fieldset {
    margin-bottom: 0;
}

tfoot td {
    text-align: center;
}

div[role=main] {
    margin-bottom: var(--pico-typography-spacing-vertical);
}

div:has(#add-new) {
    text-align: center;
}

:is(#details-modal, #edit-modal) article {
    padding-top: 0;
    padding-bottom: 0;
}

:is(#details-modal, #edit-modal) header {
    position: sticky;
    top: 0;
}

:is(#details-modal, #edit-modal) footer {
    position: sticky;
    bottom: 0;
}

.rate-field {
    display: flex;
    align-items: center;
    margin-top: calc(var(--pico-spacing) * 0.25);
    margin-bottom: var(--pico-spacing);

    input[type="range"] {
        margin-bottom: 0;
    }
}

.indicator {
    width: 2.4rem;
    text-align: center;
    margin-right: calc(var(--pico-spacing) * 0.5);
}

.suggest {
    color: var(--pico-color);
}
