.full-height {
    height: 100vh;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}

.stretch {
    flex-grow: 1;
}

.code-block {
    font-family: monospace;
}

.current-page {
    text-decoration: none !important;
}

.icon-button {
    padding: 0 !important;
    border: none;
}

.muted {
    color: var(--pico-muted-color);
}

.no-data {
    text-align: center;
}

.danger {
    --pico-background-color: var(--pico-color-red-600);
    --pico-border-color: var(--pico-color-red-600);
    --pico-primary-focus: rgba(232, 2, 2, 0.5);
}

.danger:is(:hover,:active,:focus) {
    --pico-background-color: var(--pico-color-red-550);
    --pico-border-color: var(--pico-color-red-550);
}

kbd.secondary {
    background-color: var(--pico-secondary-background);
}

table {
    thead, tfoot {
        position: sticky;
    }
    thead {
        inset-block-start: 0; /* "top" */
    }
    tfoot {
        inset-block-end: 0; /* "bottom" */
    }
    span {
        display: table-cell !important;
    }
}

/* fucking firefox */
@-moz-document url-prefix() {
table:has(.no-data) {
    :is(thead, tfoot):not(:empty) {
        height: 1em;
    }
    tbody {
        bottom: 0;
    }
}
}
