.full-height {
    height: 100vh;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}

.stretch {
    flex-grow: 1;
}

.code-block {
    font-family: monospace;
}

.current-page {
    text-decoration: none !important;
}

.icon-button {
    padding: 0 !important;
    border: none;
}

.muted {
    color: var(--pico-muted-color);
}

table thead,
table tfoot {
  position: sticky;
}
table thead {
  inset-block-start: 0; /* "top" */
}
table tfoot {
  inset-block-end: 0; /* "bottom" */
}
table span {
    display: table-cell !important;
}
